@model PruebaInterRapidisimo.Models.Estudiante

@{
    ViewData["Title"] = "Crear Estudiante";
}

<h2>Crear Estudiante</h2>
<div class="row p-3" id="contenedor1">
    <form asp-action="Create">
        <div class="row">
            <!-- Columna  -->
            <div class="col-md-6">

                <div class="form-group">
                    <label asp-for="Identificacion" class="fw-bold"></label>
                    <input asp-for="Identificacion" class="form-control" />
                    <span asp-validation-for="Identificacion" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Nombres" class="fw-bold"></label>
                    <input asp-for="Nombres" class="form-control" />
                    <span asp-validation-for="Nombres" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Apellidos" class="fw-bold"></label>
                    <input asp-for="Apellidos" class="form-control"/>
                    <span asp-validation-for="Apellidos" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ProgramaCreditos" class="fw-bold"></label>
                    <select asp-for="ProgramaCreditos" class="form-control">
                        <option value="indefined">Seleccione</option>
                        <option value="0">Ingeniería de Sistemas</option>
                        <option value="1">Ingeniería Electrónica</option>
                        <option value="2">Ingeniería Mecatrónica</option>
                        <option value="3">Ingeniería Mecánica</option>
                        <option value="4">Ingeniería Civil</option>
                        <option value="5">Ingeniería Química</option>
                        <option value="6">Ingeniería Ambiental</option>
                    </select>
                    <span asp-validation-for="ProgramaCreditos" class="text-danger"></span>
                </div>
                
            </div>

        </div>

        <div class="form-group d-flex justify-content-around mt-4">
            <input type="submit" value="Guardar" class="btn btn-primary " />
            <a asp-action="Index" class="btn btn-secondary ">Cancelar</a>
        </div>
    </form>
</div>

