@model PruebaInterRapidisimo.Models.Profesor

@{
    ViewData["Title"] = "Actualizar Profesor";
}


<h2>Editar Profesor</h2>
<div class="row p-3" id="contenedor1">
    <form asp-action="Update">
        <input type="hidden" asp-for="Id" />

        <div class="row justify-content-center">
            <!-- Columna centrada -->
            <div class="col-md-6 mx-auto">

                <div class="form-group">
                    <label asp-for="Identificacion" class="fw-bold"></label>
                    <input asp-for="Identificacion" class="form-control" />
                    <span asp-validation-for="Identificacion" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Nombres" class="fw-bold"></label>
                    <input asp-for="Nombres" class="form-control" />
                    <span asp-validation-for="Nombres" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Apellidos" class="fw-bold"></label>
                    <input asp-for="Apellidos" class="form-control" />
                    <span asp-validation-for="Apellidos" class="text-danger"></span>
                </div>
               
            </div>

        </div>

        <div class="form-group d-flex justify-content-around mt-4">
            <input type="submit" value="Actualizar" class="btn btn-primary " />
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>